# IDE и системные файлы
*.iml
.idea/
.DS_Store
Thumbs.db
*.ipr
*.iws

# Сборочные артефакты и кэш
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
out/
bin/
gen/

# Локальные свойства окружения (SDK пути и ключи)
local.properties

# Скомпилированные бинарники
*.apk
*.aab
*.dex
*.class

# Логи и дампы памяти
*.log
*.hprof

# Игнорируем ВСЕ бинарные jar (CI генерирует wrapper.jar динамически)
*.jar